body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #F5F5F5;
}

.logo {
    width: 127px;
    height: 50px;
    color: #000000;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-image: url("images/saurabh-avatar.png");
    background-size: cover;
    background-color: blueviolet;
    alt: 'User-image';
    margin-right: 15px;
    margin-top: 16px;
    margin-bottom: 17px;
}

.header-div {
    display: flex;
    width: 375px;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #C6C6C6;
    box-sizing: border-box;
    background: #FFFFFF;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: 375px;
    height: 545px;
    background-color: #FFFFFF;
}

.user-info {
    display: flex;
    width: 348px;
    height: 34px;
    margin: 10px 15px;
    justify-content: start;
    text-align: left;
    font-size: 12px;
}

.user-info img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-info-text p {
    font-size: 12px;
    margin: 2px 10px;
}

.post-img {
    width: 375px;
    height: 375px;
    background-image: url("");
    background-size: cover;
}

.div-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 105px;
    height: 23px;
    margin-top: 21px;
    margin-left: 10px;

}

p {
    margin-top: 12px;
    margin-left: 13px;
    ;
}

.bold-text {
    font-weight: 700;
}

.text-size {
    font-size: 13px;
}


.username-caption {
    padding-left: 5px;
}

.dim:hover {
    opacity: 0.5;
}

.mt {
    margin-top: 20px;
}

.mb {
    margin-bottom: 20px;
}